<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
  <head>
    <title>Result</title>
    <link type="text/css" rel="stylesheet" href="table.css" />
  </head>
  <body>
    <div style="margin-left:275px;margin-right:auto;display:inline-block;box-shadow: 10px 10px 5px #888888;border:1px solid #000000;-moz-border-radius-bottomleft:9px;-webkit-border-bottom-left-radius:9px;border-bottom-left-radius:9px;-moz-border-radius-bottomright:9px;-webkit-border-bottom-right-radius:9px;border-bottom-right-radius:9px;-moz-border-radius-topright:9px;-webkit-border-top-right-radius:9px;border-top-right-radius:9px;-moz-border-radius-topleft:9px;-webkit-border-top-left-radius:9px;border-top-left-radius:9px;background:white">
      &nbsp;Question Ranking(Score): &nbsp;</div>
    <p style="bottom-margin:10px">
    <table class="CSS_Table_Example" style="width:60%;margin:auto;">
      <tr><td>Ranking</td><td>Id</td><td>Title</td></tr>
      <tr><td>{{Ranking}}</td><td>{{Id}}</td><td>{{Title}}</td></tr>
    </table>
    <table class="CSS_Table_Example" style="width:60%;margin:auto;">
      <tr><td>AnswerCount</td><td>CommentCount</td><td>CreationDate</td><td>FavoriteCount</td><td>OwnerId</td><td>OwnerName</td></tr>
      <tr><td>{{AnswerCount}}</td><td>{{CommentCount}}</td><td>{{CreationDate}}</td><td>{{FavoriteCount}}</td><td>{{OwnerId}}</td><td>{{OwnerName}}</td></tr>
    </table>
    <table class="CSS_Table_Example" style="width:60%;margin:auto;">
      <tr><td>Score</td><td>Tags</td><td>ViewCount</td><td>AcceptedAnswerId</td><td>AcceptedAnswerDate</td><td>AcceptedAnswerOwnerId</td><td>AcceptedAnswerOwnerName</td></tr>
      <tr><td>{{Score}}</td><td>{{Tags}}</td><td>{{ViewCount}}</td><td>{{AcceptedAnswerId}}</td><td>{{AcceptedAnswerDate}}</td><td>{{AcceptedAnswerOwnerId}}</td><td>{{AcceptedAnswerOwnerName}}</td></tr>
    </table>
    </p>
  </body>
</html>
